# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl
.terraformrc
terraform.rc

# SSH Keys
*-key
*-key.pub
*.pem
*.key

# Local development
.idea/
.vscode/
.DS_Store

# Logs
*.log

# Environment variables
.env
*.env

# Sensitive files
iam-policy.json